
/* encabezado */
header {
  background-color: #130a38;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: #ffffff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  }
  header img { 
    margin-right: 50px;
    align-items: center;
  }

  /* menú de navegación */
 nav {
    background: #fcb900;
    padding: 10px;
    font-size: 18px;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    display: inline-block;
    margin-right: 20px;
    padding: 3px;
  }
  
  nav a {
    color: #130a38 ;
    text-decoration: none;
    padding: 5px;
    transition: all 300ms;
  }
  
  nav a:hover{
    background-color: #130a38;
    padding: 10px;
    color: #fcb900;
    border-radius: 10px;
    transform: scale(1.05);
  }

  /*cuerpo*/
  body {
      background-image: url(../imgs/LaBombonera.jpg);
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      font-family: century gothic, sans-serif;
      margin: 0;
      padding: 0;
      align-items: center;
  }


  .cajas {
    background-color: rgb(232, 228, 250);
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 20%;
    margin-right: 20%;
    box-shadow: 5px 8px 12px black;
  }

  .cajas a img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
  }
  .title{
    display: contents;
  }

  .cajas .title a{
    font-size: 35px;
    font-family: century gothic;
    text-decoration: none;
    color: #000000;
    position: absolute;
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
    background-color: #ffffffe0;
    transition: all 300ms;
    margin: 20%;
    margin-top: 35%;
    text-align: center;
  }

  .title a:hover{
    background-color: #130a38;
    color: #fff;
    text-decoration: underline;
    transform: scale(1.10);
  }
  
  /*pie de pagina*/
  footer {
    background-color: #130a38;
    color: #fff;
    padding: 10px;
    text-align: center;
  }